/** @format */

body {
  overflow-x: hidden;
}

#help_but_for_dev{
  position: fixed;
  right: 60px;
  top: 130px;
  height: 70px;
  width: 70px;
  border-radius: 16px;
  border: 5px solid #000;
  background-color: #ff0000;
  font-size: 22px;
  text-align: center;
  line-height: 70px;
  font-family: ALS Sirius;
  font-weight: 900;
  opacity: 0.9;
  cursor: pointer;
  user-select: none;
}

#help_but_for_dev:hover{
  background-color: #b40000;
}


/* <div id = "help_but_for_dev">PUSH</div> */