
.rootStyle {
  width: 400;
  border: 1px solid grey;
};

.iterFontStyle {
  font-family: "Inter";
  font-size: 32px;
  font-weight: 700;
};

  .topApplication {
    width: 100%;
    display: flex;
  }

  .titleBlock {
    border: 1px solid black;
  }

  titelLabel {

  }
  subLabel {

  }
  newApplicationSVG {

  }
  
  subTopBlock {

  }
  sortMenu {

  }
  rejectButton {

  }
